doctype html
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/static/css/style.css')
  body
    header
      h1 HowLongShouldILeaveMyBeerOutsi.de
    .container
      #content
        block content
    footer
      block footer
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript', src='/static/page.js')
    