extends index

block content
  .beerresults
    p Looking up where you are...

  .twitter-stuff
    | <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howlongshouldileavethisbeeroutside.biz/" data-text="How long should I leave this beer outside?" data-via="aroldan">Tweet</a>
    | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

block scripts
  script(type='text/javascript', src='/static/page.js')